body{
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.empty-list{
    background-color: #ccc;
    width: 30%;
    margin: 20px auto !important;
    border-radius: 20px;

}