.side-body{
    color: #fff;
    display: flex;
    flex-direction: column;
}
.box-new{
    text-align: center;
    /* background-color: #242424; */
    border-radius: 10px;
}
.img-side{
    border-radius: 10px;
    width: 100%;
}
.genre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #bebebe;
}
a{
    text-decoration: none;
}
a:hover{
    color: #eb8307;
}
.subtitle{
    border-radius: 10px;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-btn{
    border-radius: 50%;
    background-color: #ccc;
    border: 1px solid #ccc;
}
.section{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movie{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}